.page.theme_dark {
  --accent-color: #ff0070;
  --main-title-color: #DB00FF;
  --background: url(../images/cover-image-dark.png);
  --color-text: #F1B2CE;
  --color-subtitle: #000;
  --color-title: #ff0070;
  --background-color: #000028;
  --dark-inscription: flex;
  --text-size: 18px;
}
