/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --h1-color: #DB00FF;
  --h1-size: 116px;
  --background: url(../images/cover-image-dark.png);
  --color-text: #F1B2CE;
  --color-subtitle: #000;
  --color-title: #ff0070;
}
