.page.theme_light {
  --accent-color: #ff8dcb;
  --main-title-color: #ffc2e6;
  --color-text: #353430;
  --background: url(../images/cover-image-light.png);
  --color-subtitle: #353430;
  --color-title: #353430;
  --background-color: #fff1f7;
  --dark-inscription: none;
  --text-size: 18px;
  --color-hover-button: rgb(53, 52, 48, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-title-color: #ffc2e6;
    --color-text: #353430;
    --background: url(../images/cover-image-light.png);
    --color-subtitle: #353430;
    --color-title: #353430;
    --background-color: #fff1f7;
    --dark-inscription: none;
    --text-size: 18px;
    --color-hover-button: rgb(53, 52, 48, 0.4);
  }
}
