.page.theme_light {
  --accent-color: #ff8dcb;
  --h1-color: #ffc2e6;
  --h1-size: 116px;
  --color-text: #353430;
  --background: url(../images/cover-image-light.png);
  --color-subtitle: #353430;
  --color-title: #353430;
  --background-color: #fff1f7;
  --dark-inscription: none;
  --text-size: 18px;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --h1-color: #ffc2e6;
    --h1-size: 116px;
    --color-text: #353430;
    --background: url(../images/cover-image-light.png);
    --color-subtitle: #353430;
    --color-title: #353430;
    --background-color: #fff1f7;
    --dark-inscription: none;
    --text-size: 18px;
  }
}
