/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --h1-color: #DB00FF;
  --h1-size: 116px;
  --color-text: #F1B2CE;
  --background: url(../images/cover-image-dark.png);
  --color-subtitle: #000;
  --color-title: #ff0070;
  --background-color: #000028;
  --dark-inscription: flex;
  --text-size: 18px;
}

